<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project site</title>
  </head>
  <body>
    {{> header}}
    <p>Welcome!, This is our project site</p>

    {{> footer}}
  </body>
</html>
